/* 가상 클래스 선택자 root의 색상들은 필수 사용요소가 아닙니다.
색상은 자유롭게 구성해주세요. */
:root {
  --main-color: #04c82f;
  --main-bg-color: #e5ffeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 150px;
  line-height: 150px;
  border: 1px solid #000;
}

header > .logo {
  width: 200px;
  margin: 0 auto;
}

main {
  width: 100%;
  border: 1px solid #000;
}

main > .container {
  margin: 40px 0px;
}

main > .todoBox {
  text-align: center;
  margin: 30px 0px;
}

/* 입력폼 */
main > .todoBox > form {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > .todoBox input {
  width: 250px;
  height: 40px;
}

main > .todoBox button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* TODO 리스트 */
main > .container .item > div {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

main > .container .item > div > input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
}

main > .container .item > div > p {
}

main > .container .item > div > button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ff8675;
  border: none;
  color: #fff;
}

@media screen and (min-width: 540px) {
  main > .container > ul {
  }

  main > .container > ul > .item {
    display: inline-block;
    width: 48.97%;
    margin: 0px;
    box-sizing: border-box;
  }

  main > .container .item > div {
    padding: 0px;
  }
}

@media screen and (min-width: 960px) {
  main > .container > ul {
    display: inline-block;
    width: 960px;
    margin: 0 auto;
    text-align: left;
  }

  main > .container > ul > .item {
    display: inline-block;
    width: 20%;
    margin: 0px;
  }

  main > .container .item > div {
    text-align: center;
    padding: 0px;
  }
}
